In [10]:
import pandas as pd
import numpy as np

In [11]:
file_path = r'C:\work\Book1.xlsx'

In [12]:
df_patent = pd.read_excel(file_path)

In [13]:
new_column_names = {'Unnamed: 0': 'Office', 'Unnamed: 1': 'Office (Code)', 'Unnamed: 2': 'Origin', 'Unnamed: 3': 'Type'}

df_patent.rename(columns=new_column_names, inplace=True)

In [14]:
df_patent = df_patent.iloc[4:]

In [24]:
pd.set_option('display.max_rows', 186)

In [16]:
df_patent.drop(df_patent.columns[[2, 3]], axis=1, inplace=True)

In [17]:
indices_to_drop = [11, 59, 60, 61, 94, 120, 123, 129, 155, 181]
df_patent.drop(indices_to_drop, inplace=True)

In [18]:
df_patent.set_index(pd.RangeIndex(start=1, stop=len(df_patent) + 1, step=1), inplace=True)

In [19]:
df_patent.head()

,Office,Office (Code),1980,1981,1982,1983,1984,1985,1986,1987,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
1,Albania,AL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.0,13.0,19.0,25.0,24.0,18.0,5.0,12.0,24.0,21.0
2,Algeria,DZ,354.0,354.0,334.0,308.0,375.0,258.0,235.0,180.0,...,840.0,813.0,805.0,672.0,743.0,673.0,638.0,710.0,849.0,1118.0
3,Andorra,AD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,3.0,6.0,11.0,15.0,8.0,11.0,8.0
4,Angola,AO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,120.0,110.0,85.0,86.0,80.0
5,Antigua and Barbuda,AG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7.0,15.0,10.0,12.0,8.0,10.0,NaN,3.0,8.0,6.0

In [20]:
GDP_path = r'C:\work\imf-dm-export-20231128.xls'

In [21]:
df_GDP = pd.read_excel(GDP_path)

In [25]:
df_GDP

,Real GDP growth (Annual percent change),1980,1981,1982,1983,1984,1985,1986,1987,1988,...,2019,2020,2021,2022,2023,2024,2025,2026,2027,2028
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,no data,no data,no data,no data,no data,no data,no data,no data,no data,...,3.9,-2.4,-20.7,no data,no data,no data,no data,no data,no data,no data
2,Albania,2.7,5.7,2.9,1.1,2,-1.5,5.6,-0.8,-1.4,...,2.1,-3.3,8.9,4.8,3.6,3.3,3.4,3.5,3.5,3.5
3,Algeria,-5.4,3,6.4,5.4,5.6,5.6,-0.2,-0.7,-1.9,...,1,-5.1,3.4,3.2,3.8,3.1,2.5,1.9,1.7,1.7
4,Andorra,no data,no data,no data,no data,no data,no data,no data,no data,no data,...,2,-11.2,8.3,8.8,2.1,1.5,1.5,1.5,1.5,1.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
226,Other advanced economies,3.8,4.2,2.1,4,6.6,4.3,5.5,6.5,5.5,...,2,-1.6,5.7,2.6,1.8,2.2,2.3,2.3,2.2,2.2
227,Sub-Saharan Africa,no data,no data,no data,no data,no data,no data,no data,no data,no data,...,3.2,-1.6,4.7,4,3.3,4,4.1,4.1,4.2,4.3
228,World,2.2,2.1,0.7,2.6,4.6,3.6,3.6,3.9,4.7,...,2.8,-2.8,6.3,3.5,3,2.9,3.2,3.2,3.1,3.1
229,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
230,"©IMF, 2023",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN